*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family: 'Courier New', Courier, monospace;
}
body {
	padding: 0;
	background-color: rgba(0,0,0,.8);
	margin: 0;
}
.container {
	position: relative;
	margin-top: 150px;
	display: flex;
	justify-content: center;
}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: black;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
#inputContent{
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100px;
}

#searchs{
	height: 56px;
    margin-right: 46px;
    width: 45%;
    border-radius: 20px;
    padding: 10px;
	outline: none;
}

#submit{
	height: 56px;
	border-radius: 10px 0 10px 0;
	padding: 10px;
}

#output{
	overflow-y: auto;
    width: 1100px;
    height: 600px;
    background-color: grey;
}

#out{
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
}


#o{
	margin-top: 13px;
    margin-left: 6px;
    margin-bottom: 10px;
}

#out .containe{
	
	width: 100px;
	margin: 70px 70px 70px 70px;
}


.box{
	width: 40px;
	height: 40px;
	background-color: #008cbc;
	display: inline-block;
	animation: pulse 0.6s ease-in infinite alternate;
}
.box2, .box3{
	animation-delay: 0.6s;
}

@Keyframes pulse{
	100%{
		opacity: 0;
	}
}

#stuff{
	color: white;
	text-align: center;
	font-size: 50px;
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}

	#inputContent{
		width: 100%;
		display: flex;
		justify-content: center;
		height: 80px;
	}
	
	#searchs{
		margin-right: 20px;
	}

	#stuff{
		font-size: 20px;
	}

}

footer {
    background-color: rgba(0,0,0,1);
    color: white;
    text-align: center;
    padding: 40px;
    max-height: 100px;
}
